.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 40px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__date {
  color: #000;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__avatar-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__button {
  color: #000;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px; /* 120% */
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__link {
  text-decoration: none;
}

.header__name {
  color: #000;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  /* background: rgba(0, 0, 0, 0.2); */
}
